/Applied\ Text\ Mining\ in\ Python/Amazon_Unlocked_Mobile.csv
/Applied\ Text\ Mining\ in\ Python/readonly/Amazon_Unlocked_Mobile.csv
/Introduction\ to\ Data\ Science\ in\ Python/resources/week-3/datasets/college_scorecard
